
@media(max-width: 900px){
  .headerContainer {
    flex-direction: column;
    height:auto !important;
    img {
      border-right: 0!important;
      padding-right: 0;
    }
  }
}

.headerContainer {
  background: var(--white);
  height: 6.5rem;
  display: flex;
  align-items: center;
  padding: 2rem 4rem;
  border-bottom: 1px solid var(--gray-100);

  img {
    padding-right: 2rem;
    border-right: 1px solid var(--gray-100);
  }

  p{
    margin-left: 2rem;
    padding: 0.25rem 0;
    //border-left: 1px solid var(--gray-100);
  }

  span {
    margin-left:auto;
    text-transform: capitalize;
  }

}